#galeria img {
    width: 100%;
    height: 200px;
}

#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 25px;

}

#galeria img:hover {

    border: 5px solid white;
}
$body:(black);
h1{$h1:(red);}
.titulo h1 { color: red;
text-align: center;
}